.topnav {
    background-color: darkblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    padding: 50px;
    text-align: center;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}