.topnav {
  background-color: #0DB5F2;
}
.topnav a.active {
  color: white;
  font-size: 50px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  padding-left: 80px;
  padding-right: 100px;
  text-decoration: none;
}

.topnav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 50px;
}

.topnav:hover a:hover {
  color: #4A0AF5;
}

.topnav:hover a:hover.active {
  color: white;
}
/* The dropdown container */
.dropdown {
  float: right;
  padding-right: 140px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  color: white;
  padding: 29px;
  background-color: inherit;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  
}

.navbar a:hover, .dropdown:hover .dropbtn:hover {
  color: #4A0AF5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #0DB5F2;
  color: white;
  padding: 12px;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0DB5F2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.botnav {
  background-color: #0DB5F2;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.botnav a {
  text-decoration: none;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-left: 200px;
}

.botnav a .pripo {
  padding-left: 20px;
}

.botnav:hover a:hover {
  color: #4A0AF5;
}

.home {
  display: table;
}
.home .book {
  float: left;
  padding: 15px 70px;
}

.home a {
  text-decoration: none;
  color: black;
  font-family: Lexend, sans-serif;
}

h2 {
  font-family: Lexend, sans-serif;
}

.home:hover .book:hover {
  background-color: #0DB5F2;
}

.home1 .book1 {
  float: left;
  padding: 15px 70px;
}

.home1 {
  display: table;
}

.book1 a {
  text-decoration: none;
  color: black;
  font-family: Lexend, sans-serif;
}

.home1:hover .book1:hover {
  background-color: #0DB5F2;
}

.container {
  text-align: center;
  font-family: Lexend, sans-serif;
  display: table-cell;
}
