.topnav {
  background-color: cyan;
}
.topnav a.active {
  color: red;
  font-size: 50px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  padding-left: 80px;
  padding-right: 100px;
  text-decoration: none;
}

.topnav a {
  color: #df2021;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-right: 50px;
}

/* The dropdown container */
.dropdown {
  float: right;
  padding-right: 30px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  color: #df2021;
  padding: 29px;
  background-color: inherit;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: cyan;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
